@page
@model UWS.Shared.ArtistsModel 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Artist Index";
}

<h2>Artists</h2>
<p>
   <a class ="btn btn-primary" href="../index">Home</a>
   <a class ="btn btn-primary" href="/Albums/albums">Albums</a>
   <a class ="btn btn-primary" href="/Albums/tracks">Tracks</a>
</p>
<p>
   <a asp-page="CreateArtist">Create New Artist</a>
</p>
<table class="table">
   <thead>
      <tr>
         <th>
            @Html.DisplayName("Name")
         </th>
         <th>
            @Html.DisplayName("ArtistID")
         </th>
         <th>Edit | Delete</th>
      </tr>
   </thead>
   <tbody>
      @foreach (var item in Model.ArtistList)
      {
      <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Name)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.ArtistID)
         </td>
         <td>
            <a asp-page="./EditArtist" asp-route-id="@item.ArtistID">Edit</a> |
            <a asp-page="./Artists" onclick="return confirm('Are you sure you want to delete this Artist?');"
               asp-page-handler="Delete" asp-route-id="@item.ArtistID">Delete</a>
         </td>
      </tr>
      }
   </tbody>
</table>
